
.transform{
    width: 1000px;
    background-color: #fdfdfd;
    margin:50px auto;
    /* border:1px solid #b11515 ; */
}
.transform::after{
    clear: both;
    content:"";
    display: block;
    overflow: hidden;
}
.transform > p{
    width: 230px;
    /* 注意这一步的效果 */
    float:left ;
    border: 1px  soild #ff04fb; 
    /* 边框颜色 */
    margin-right: 10px; 
    text-align: center;
    padding-bottom: 10px;
}

.transform > p strong{
    display: block;
    background-color: #b96f6f;
    line-height: 28px;
    font-size: 20px;
    font-family:"Arial";
    color:#333; 
    float: center;
    margin-bottom: 10px;
}
.transform > p span{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border:1px solid #b11515;
    background-color: #09f;
}
.transform.origin  p span{
    /* 代表transform 的origin子类  */
    background-color: rgb(13, 224, 108);
    -webkit-transform-origin: 40px ;
}
.transform >p .rotate{
    transform: rotate(20deg)
}
.transform >p .translate{
    transform :translate(20px, 20px) ;
    transform :translateX(20px) ;
    /* X大写 */
}

.transform >p .scale{
    transform:scale(.5);
     /* scaleX大写 */
}

.transform >p .skew{
    transform: skew(20deg,-30deg);
     /* skewX大写 */
}

/* 边框是怎么做出来的？？？ */
